# 忽略特定檔案或路徑下的所有套接字檔案
mysql-data/*.sock

# 忽略暫存檔案
.DS_Store
Thumbs.db

# 忽略編譯生成的檔案
/dist
/build
*.log

# 忽略臨時檔案
.temp/
.tmp/

#Git 會忽略 /mysql-data 目錄下的所有內容，但會保留並追蹤其中的 /qq 目錄及其內容。
/mysql-data/*
!/mysql-data/qq/