/* styles.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 20px;
}

/* Heading styles */

h2 {
  margin-top: 5px;
}

h2#title {
  text-align: center;
  margin-bottom: 5px;
}

h1:hover,
h2:hover {
  background-color: rgb(255, 229, 200);
}

/* Form styles */
form {
  display: flex;
  flex-direction: column; /* 垂直堆疊表單元素 */
  align-items: center; /* 元素置中 */
  margin-bottom: 3%;
}

label {
  margin-bottom: 3px;
  font-weight: bold; /* 加粗標籤文字 */
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 80%; /* 使用整個容器的寬度 */
  margin-bottom: 15px;
  border: 1px solid #ee9898; /* 添加輸入框的邊框 */
  border-radius: 6px; /* 圓角 */
  transition: border-color 0.3s ease; /* 平滑過渡邊框顏色 */
}

input[type="text"]:focus {
  outline: none; /* 移除預設的焦點外框 */
  border-color: #007bff; /* 聚焦時的邊框顏色 */
}

button[type="submit"] {
  padding: 8px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Data display styles */
#data {
  margin-top: 1px;
  border-top: 1px solid #ccc;
  padding-top: 1px;
}

#data div {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

.delete-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px; /* 調整按鈕與資料之間的距離 */
}

.delete-button:hover {
  background-color: #c82333;
}